/**
*   Screen min width 480px
*/
html{ }
body{ background: #231f20; }

.layout_header_wrap{ width: 100%; }
.layout_header{ width: 100%; }

.layout_header>ul.left{ float: left; width: 100%; background: #056461; border-bottom: 2px solid #fff; }
.layout_header>ul.left>li{ float: left; width: 50%; height: 30px; line-height: 30px; text-align: center; }
.layout_header>ul.left>li.symbol>span.mark{ margin: 0 auto; width: 90px; height: 30px; background: url("../image/symbol_small.png") no-repeat 0px 5px; text-indent: -9999px; position: relative; display: block; }
.layout_header>ul.left>li.symbol>a{ margin-top: -30px; display: block; position: relative; }
.layout_header>ul.left>li.history>span.mark{ display: none;}
.layout_header>ul.left>li>a{ font-size: 87.5%; color: #fff; }
.layout_header>ul.left>li>a:visited{ color: #fff; }
.layout_header>ul.left>li>a:hover{ color: #efefef; }

.layout_header>ul.right{ float: left; width: 100%; background: #28918d; border-bottom: 2px solid #fff; }
.layout_header>ul.right>li{ float: left; width: 50%; height: 30px; line-height: 30px; text-align: center; }
.layout_header>ul.right>li>a{ font-size: 87.5%; color: #fff; }
.layout_header>ul.right>li>a:visited{ color: #fff; }
.layout_header>ul.right>li>a:hover{ color: #efefef; }
.layout_header>ul.right>li.help>span.mark{ margin: 0 auto; width: 65px; height: 30px; background: url("../image/help.png") no-repeat 0px 9px; text-indent: -9999px; position: relative; display: block; }
.layout_header>ul.right>li.help>a{ margin-top: -30px; display: block; position: relative; }
.layout_header>ul.right>li.user>span.mark{ margin: 0 auto; width: 65px; height: 30px; background: url("../image/user.png") no-repeat 0px 9px; text-indent: -9999px; position: relative; display: block; }
.layout_header>ul.right>li.user>a{ margin-top: -30px; display: block; position: relative; }

.layout_section_wrap{ float: left; width: 100%;}
.layout_section{ float:left; width: 100%; }

.layout_footer_wrap{ float: left; width: 100%; margin-top: 20px;}
.layout_footer{ width: 100%; text-align: center; height: 30px; line-height: 30px;}
.layout_footer>span{ color: #fff; font-size: 68.75%; }

/** main */
.main_content{ width: 250px; margin: 0 auto; text-align: center;}
.main_content>img{ margin: 50px 25px 10px 25px; width: 200px; }
.main_content>.title{ font-size: 75%; text-align: center; color: #fff;}
.main_content>.main_btn{ height: 30px; line-height: 30px; background: #42b9b4; color: #fff; width: 100%; display: block; font-size: 87.5%; margin-top: 30px;}
.main_content>.main_btn:visited{ color: #fff; }
.main_content>.main_btn:hover{ background: #56cfca; }

/** form */
.form_error{ float: left; width: 100%; }
.form_error>p{ padding: 0 5px; color: #f8b2b2; font-size: 75%;}
.form_error>p.bold{ color: #e73434; }
.form_success{ float: left; width: 100%; }
.form_success>p{ padding: 0 5px; color: #b2c2f8; font-size: 75%;}
.form_success>p.bold{ color: #343ce7; }

.default_error{ width: 100%; margin: 0 auto; padding: 5px 0;}
.default_error>p{width: 100%; color: darkred; }

.default_success{ width: 100%; margin: 0 auto; padding: 5px 0;}
.default_success>p{width: 100%; color: darkblue; }

/** signin */
.signin_content{ width: 250px; margin: 0 auto; text-align: center; }
.signin_content>li{ width: 100%; margin: 0 0 10px 0;}
.signin_content>li.symbol{ width: 100%; }
.signin_content>li.symbol>img{ width: 100px; margin: 50px 75px 20px 75px; }
.signin_content>li.forgot{ }
.signin_content>li.forgot>a{ color: #fff; font-size: 87.5%;}
.signin_content>li.forgot>a:visited{ color: #fff; }
.signin_content>li.forgot>a:hover{ color: #e5e5e5; }
.signin_content>li.join{ }
.signin_content>li.join>span{ color: #808080; font-size: 87.5%;}
.signin_content>li.join>a{ color: #fff; font-size: 87.5%; }
.signin_content>li.join>a:visited{ color: #fff; }
.signin_content>li.join>a:hover{ color: #e5e5e5; }

.signin_input{ width: 190px; height: 20px; padding: 5px; border: 1px solid #525050; font-size: 87.5%;  }
.signin_input_active{ background: url("../image/input_active.png") no-repeat !important; }
.username{ background: url("../image/username.png") no-repeat; }
.username:focus{ background: url("../image/input_active.png") no-repeat; }
.password{ background: url("../image/password.png") no-repeat; }
.password:focus{ background: url("../image/input_active.png") no-repeat; }

.signin_btn{ color: #fff; width: 200px; height: 30px; border: 1px solid #1f6764; background: #42b9b4; text-align: center; line-height: 30px; margin-top: 10px; cursor: pointer; }
.signin_btn:visited{ color: #fff; }
.signin_btn:hover{ background: #56cfca;}

/** join */
.join_content_wrap{ width: 100%; margin: 0 auto;}
.join_content{ width: 100%; }
.join_content>.left{ float:left; width: 100%; text-align: center; background: #e7e7e7; padding: 40px 0;}
.join_content>.left>p.title{ width: 100%; font-size: 150%; font-weight: bold; }
.join_content>.left>dl.icon{ width: 33.3%; float : left;}
.join_content>.left>dl.icon>dt{ width: 100%;}
.join_content>.left>dl.icon>dt>img{ width: 52px; margin: 30px 0;}
.join_content>.left>dl.icon>dd{ font-size: 100%; }

.join_content>.right{ float:left; width: 100%; background: #fdfdfd; padding: 40px 0; }
.join_content>.right ul{ width: 100%;}
.join_content>.right ul>li{ width: 80%; padding: 10px 10%; }
.join_content>.right ul>li>label{ width: 100%; display: block; color: #3d3d3d; padding-bottom: 7px; font-size: 87.5%;}
.join_content>.right ul>li>input{ width: 186px; height: 20px; padding: 5px; border: 2px solid #bfbfbf; font-size: 87.5%; margin-top: 5px; }
.join_content>.right li.explain{ }
.join_content>.right li.explain>p{ width: 100%; font-size: 75%;}

.join_btn{ color: #fff; width: 200px; height: 30px; border: 1px solid #2eb3ae; background: #42b9b4; text-align: center; line-height: 30px; cursor: pointer;  }
.join_btn:visited{ color: #fff; }
.join_btn:hover{ background: #56cfca; }

.modify_content{ width: 100%; margin: 0 auto; }
.modify_content>header{ float: left; width: 80%; padding: 20px 10%;}
.modify_content>header>ul{ width: 100%; }
.modify_content>header>ul>li{ width: 100%; }
.modify_content>header li.left>span{ text-indent: -9999px; width: 5px; background: #42b9b4; float: left; height: 25px; margin-right: 12px;}
.modify_content>header li.left>h4{ color: #fff; float: left; font-size: 100%; height: 25px; line-height: 25px;}

.modify_form{ width: 80%; float: left; padding: 0 10%;}
.modify_form>li{ width: 100%; float: left; margin: 10px 0;}
.modify_form>li.large{ width: 100%; }
.modify_form>li>label{ float:left; width: 100%; color: #fff; font-size: 87.5%; padding-bottom: 8px;}
.modify_form>li>input{ width: 186px; height: 20px; padding: 5px; border: 2px solid #e6e6e6; font-size: 87.5%; margin-top: 5px; }
.modify_form>li>input.readonly{ color: #7e7e7e; }

.changepw_btn{ color: #fff; width: 200px; height: 30px; border: 1px solid #2eb3ae; background: #42b9b4; text-align: center; line-height: 30px; cursor: pointer;  }
.changepw_btn:visited{ color: #fff; }
.changepw_btn:hover{ background: #56cfca;}

.delete_form{ float: left; margin-top: 40px; width: 80%; padding: 0 10%;}
.delete_form>p{ width: 96%; padding: 2% 2%; color: #fff; background: #370511; float: left; border: 1px solid #6c6c6c; margin-bottom: 10px; font-size: 81.25%;}

.delete_btn{ color: #fff; width: 100px; height: 30px; background: #c10f3a; text-align: center; line-height: 30px; cursor: pointer; border: 0px; margin-left: 1px; margin-bottom: 20px;}
.delete_input{ width: 180px; height: 16px; padding: 5px; font-size: 87.5%; margin-top: 5px; border: 2px solid #fff;background-image: url("../image/delete_input.png"); background-position: -1px -1px; }
.delete_input:focus{ background-image: none;}
.delete_input_active{ background-image: none !important;}

/** volume data list */

.list_content{ width: 100%; margin: 0 auto; }
.list_content>header{ float: left; width: 80%; padding: 20px 10%;}
.list_content>header>ul{ width: 100%; }
.list_content>header>ul>li{ width: 100%; }
.list_content>header li.left>span{ text-indent: -9999px; width: 5px; background: #42b9b4; float: left; height: 25px; margin-right: 12px;}
.list_content>header li.left>h4{ color: #fff; float: left; font-size: 100%; height: 25px; line-height: 25px;}

.upload_btn{ float: right; background: #fff; width: 90px; height: 25px;}
.upload_btn:hover{ background: #efefef;}
.upload_btn>span.mark{ margin: 5px 10px 6px 8px; width: 14px; height: 14px; background: url("../image/upload.png") no-repeat; float: left; }
.upload_btn>span.text{ color: #000; float: left; font-size: 75%; line-height: 25px; height: 25px; }

.list_content>table{ float: left; width: 80%; margin: 10px 10%;}
.list_content>table>thead{ width: 100%; }
.list_content>table>thead>tr{ width: 100%; background: #5bded9; }
.list_content>table>thead>tr>th{ font-weight: normal; height: 30px; color: #fff;}
.list_content>table>thead>tr>th.no{ width: 5%;}
.list_content>table>thead>tr>th.no>span{ border-left: 0; }
.list_content>table>thead>tr>th.title{ width: 45%; }
.list_content>table>thead>tr>th.title>span{ }
.list_content>table>thead>tr>th.filename{ width: 20%;}
.list_content>table>thead>tr>th.filename>span{ }
.list_content>table>thead>tr>th.registrationdate{ width: 30%;}
.list_content>table>thead>tr>th.registrationdate>span{ }
.list_content>table>thead>tr>th>span{ text-align: center; width: 100%; font-size: 75%; float: left; margin-top: 10px; border-left: 1px solid #fff; height: 20px; line-height: 20px;}

.list_content>table>tbody{}
.list_content>table>tbody>tr{ }
.list_content>table>tbody>tr:hover{ background: #e0e0e0 !important; cursor: pointer; }
.list_content>table>tbody>tr:nth-child(2n-1){ background: #fff;  }
.list_content>table>tbody>tr:nth-child(2n){ background: #ebebeb; }
.list_content>table>tbody>tr>td{ color: #000; line-height: 30px; height: 30px; text-align: center; }
.list_content>table>tbody>tr>td.no{ font-size: 62.5%; }
.list_content>table>tbody>tr>td.title{ font-size: 62.5%; text-align: center;}
.list_content>table>tbody>tr>td.filename{ font-size: 62.5%; }
.list_content>table>tbody>tr>td.registrationdate{ font-size: 62.5%; }

.list_content>table>tfoot{}
.list_content>table>tfoot>tr{}
.list_content>table>tfoot>tr>td{}

/** upload*/
.upload_content_wrap{ float:left; width: 100%; margin: 0 auto; }
.upload_content_wrap>header{ float: left; width: 80%; padding: 20px 10%;}
.upload_content_wrap>header>ul{ width: 100%; }
.upload_content_wrap>header>ul>li{ width: 100%; }
.upload_content_wrap>header li.left>span{ text-indent: -9999px; width: 5px; background: #42b9b4; float: left; height: 25px; margin-right: 12px;}
.upload_content_wrap>header li.left>h4{ color: #fff; float: left; font-size: 100%; height: 25px; line-height: 25px;}

.upload_content{ float:left; width: 100%; }
.upload_content>.left{ width: 100%; float: left; background: #e7e7e7; padding: 40px 0; }
.upload_content>.right{ width: 100%; float: left; background: #fdfdfd; padding: 40px 0;}
.upload_content>.right ul{ width: 100%; }
.upload_content>.right ul>li{ width: 10%; padding:10px 10%; }
.upload_content>.right ul>li>label{ width: 100%; display: block; color: #3d3d3d; padding-bottom: 7px; font-size: 87.5%;}
.upload_content>.right ul>li>input{ width: 186px; height: 20px; padding: 5px; border: 2px solid #bfbfbf; font-size: 87.5%; margin-top: 5px; }
.upload_content>.right ul>li.small{ }
.upload_content>.right ul>li.small>label{ }
.upload_content>.right ul>li.small>input{ }

#volumefile{ width: 190px; height: 20px; padding: 5px; border: 0px; font-size: 75%; margin-top: 5px; }

.upload_submit_btn{ color: #fff; width: 200px; height: 30px; border: 1px solid #2eb3ae; background: #42b9b4; text-align: center; line-height: 30px; margin-top: 10px; cursor: pointer; }
.upload_submit_btn:visited{ color: #fff; }
.upload_submit_btn:hover{ background: #56cfca;}

/** stream*/
.stream_content_wrap{ float:left; width: 100%; margin: 0 auto; }
.stream_content_wrap>header{ float: left; width: 80%; padding: 20px 10%;}
.stream_content_wrap>header>ul{ width: 100%; }
.stream_content_wrap>header>ul>li{ width: 100%; }
.stream_content_wrap>header li.left>span{ text-indent: -9999px; width: 5px; background: #42b9b4; float: left; height: 25px; margin-right: 12px;}
.stream_content_wrap>header li.left>h4{ color: #fff; float: left; font-size: 100%; height: 25px; line-height: 25px;}

.stream_content{ float:left; width: 100%; }
#view_port{ width: 80%; border: 2px solid #fff; margin: 0 10%; }
#view_port>.loading{ text-align: center; z-index: 5; width: 100%; position: relative; margin-top: -300px;}
#view_port>.loading>img{ }
#view_port>.loading>span{ color: #fff; font-size: 75%; }
#view_port>.fps{ padding: 10px; font-size: 75%; color: #fff; position: relative; z-index: 3; display: block; height: 30px;}
#view_port>canvas{ margin-top: -50px; }

.option_wrap{ float: left; width: 80%; padding: 30px 10%;}
.option_wrap>.option_default{ float:left; width: 100%; padding: 10px 0;}
.option_wrap>.option_rendering{ }
.option_wrap>.option_default>h6{ float: left; width: 100%; font-size: 100%; padding-bottom: 15px;}
.option_wrap>.option_default>h6>span.mark{ }
.option_wrap>.option_default>h6>span.text{ color: #fff; }

.option_select_wrap{ float: left; width: 100%; border: 2px solid #fff; background: #fff; }
.option_select_wrap>li{ float: left; width: 32.9%; text-align: center; cursor: pointer; color: #fff; padding: 15px 0; font-size: 93.75%;}
.option_select_wrap>li:hover{ background-color: #25a4a0; }
.option_select_wrap_active{ background-color: #42b9b4; }
.option_select_wrap_none{ background-color: #bee4e3; }
.option_select_wrap>li:nth-child(1), .option_select_wrap>li:nth-child(2){ border-right: 2px solid #fff; }

.slider_len{ width: 86%; !important; margin: 10px 7%; height: 10px !important;  float: left; border: 1px solid #000; }
.slider_len .ui-slider-range{ background-color: #bee4e3 !important; background-image: none !important; outline: 0px !important; }
.slider_len .ui-slider-handle{ width: 20px !important; height: 20px !important; border-radius:10px; background-color: #42b9b4 !important; background-image: none !important; border: 0px !important; outline: 0px !important; cursor: pointer !important; }

.option_axis{ }
.option_axis>h6{ }
.option_axis>.slider_len{ }
.option_axis>.option_select_wrap{ margin-bottom: 15px;}

/** error*/
.error_page{ width: 100%; margin: 0 auto; display: block;}
.error_page>img{ width: 100%;}

/** debug */
._stream_debug_wrap{ }
._stream_debug_wrap>.content{  }
._stream_debug_wrap>.content>p{ }
._stream_debug_wrap>.content>p.info{ }
._stream_debug_wrap>.content>p.debug{ }
._stream_debug_wrap>.content>p.error{ }