/**
*   Screen min width 986px
*/
.layout_header_wrap{ height: 30px; }
.layout_header{ width: 900px; height: 30px; }

.layout_header>ul.left{ padding: 5px; }
.layout_header>ul.left>li{ }
.layout_header>ul.left>li.symbol>span.mark{ margin-right: 5px; }
.layout_header>ul.left>li.history>span.mark{ margin: 4px 5px 4px 0; }
.layout_header>ul.left>li>a{ font-size: 62.5%; height: 20px; line-height: 20px; margin-right: 7px; }
.layout_header>ul.left>li>a:visited{ }
.layout_header>ul.left>li>a:hover{ }

.layout_header>ul.right{ padding: 5px; }
.layout_header>ul.right>li{ }
.layout_header>ul.right>li>a{ font-size: 62.5%; height: 20px; line-height: 20px; margin-left: 10px; }
.layout_header>ul.right>li>a:visited{ }
.layout_header>ul.right>li>a:hover{ }
.layout_header>ul.right>li.help>span.mark{ margin: 4px 0 3px 0; }
.layout_header>ul.right>li.help>a{ }
.layout_header>ul.right>li.user>span.mark{ margin: 3px 0 3px 5px; }

.layout_section_wrap{ margin-top: -31px;}
.layout_section{ padding: 31px 0; }

.layout_footer_wrap{ height: 30px; margin-top: -51px;}
.layout_footer{ height: 30px; }
.layout_footer>span{ font-size: 56.25%; line-height: 30px; height: 30px; }

/** main */
.main_content{ width: 200px; }
.main_content>img{ margin-top: 190px;}
.main_content>.title{ font-size: 75%; margin-top: 5px;}
.main_content>.main_btn{ font-size: 75%; width: 200px; height: 30px; line-height: 30px; margin-top: 15px;}
.main_content>.main_btn:visited{ }
.main_content>.main_btn:hover{ }

/** form */
.form_error{ }
.form_error>p{ font-size: 62.5%; }
.form_error>p.bold{ }
.form_success{ }
.form_success>p{ font-size: 62.5%; }
.form_success>p.bold{ }

.default_error{ }
.default_error>p{ }

.default_success{ }
.default_success>p{ }

/** signin */
.signin_content{ width: 210px; }
.signin_content>li{ margin-bottom: 15px; }
.signin_content>li.symbol{ margin-top: 50px; margin-bottom: 25px;}
.signin_content>li.forgot>a{ font-size: 62.5%; }
.signin_content>li.forgot>a:visited{ }
.signin_content>li.forgot>a:hover{ }
.signin_content>li.join>span{ font-size: 62.5%; }
.signin_content>li.join>a{ font-size: 62.5%; }
.signin_content>li.join>a:visited{ }
.signin_content>li.join>a:hover{ }

.signin_input{ margin: 0 5px; }

.signin_btn{ font-size: 75%; }
.signin_btn:visited{ }
.signin_btn:hover{ }

/** join */
.join_content_wrap{ width: 500px; }
.join_content{ width: 500px; }
.join_content>.left{ width: 240px; margin: 5px; }
.join_content>.left>p.title{ font-size: 137.5%; }
.join_content>.left>dl.icon{ }
.join_content>.left>dl.icon>dt{ width: 80px; }
.join_content>.left>dl.icon>dt>img{ width: 52px; height: 52px; padding: 0 14px; }
.join_content>.left>dl.icon>dd{ width: 60px; height: 30px; padding: 0 10px; font-size: 75%; }
.join_content>.right{ width: 240px; margin: 5px; }
.join_content>.right ul{ }
.join_content>.right ul>li{ }
.join_content>.right ul>li>label{ font-size: 75%; }
.join_content>.right ul>li>input{ }
.join_content>.right li.explain{ }
.join_content>.right li.explain>p{ font-size: 62.5%; }

.join_btn{ font-size: 75%; }
.join_btn:visited{ }
.join_btn:hover{ }

.modify_content{ }
.modify_content{ }
.modify_c
@charset "utf-8";ontent>header{ width: 500px; }
.modify_content>header>ul{ }
.modify_content>header>ul>li{ }
.modify_content>header li.left>span{ height: 20px; margin-right: 8px;  }
.modify_content>header li.left>h4{ font-size: 87.5%; height: 20px; line-height: 20px; }

.modify_form{ width: 500px; }
.modify_form>li{ width: 200px; }
.modify_form>li.large{ width: 100%; }
.modify_form>li>label{ font-size: 75%; }
.modify_form>li>input{ }
.modify_form>li>input.readonly{ }

.changepw_btn{ font-size: 75%; }
.changepw_btn:visited{ }
.changepw_btn:hover{ }

.delete_form{ width: 420px; }
.delete_form>p{ font-size: 75%; width: 400px; padding: 10px;  }

.delete_btn{ font-size: 75%; }
.delete_input{ }
.delete_input:focus{ }
.delete_input_active{ }

/** volume data list */
.list_content{ width: 500px; }
.list_content>header{ width: 500px; }
.list_content>header>ul{ }
.list_content>header>ul>li{ }
.list_content>header li.left>span{ height: 20px; margin-right: 8px; }
.list_content>header li.left>h4{ font-size: 87.5%; height: 20px; line-height: 20px;}
.upload_btn{ width: 75px; height: 20px; }
.upload_btn:hover{ }
.upload_btn>span.mark{ margin: 3px 5px 3px 8px; }
.upload_btn>span.text{ font-size: 62.5%; line-height: 20px; height: 20px;}

.list_content>table{ width: 500px; }
.list_content>table>thead{ }
.list_content>table>thead>tr{ }
.list_content>table>thead>tr>th{ font-size: 68.75%; height: 30px; }
.list_content>table>thead>tr>th.no{ width: 40px; }
.list_content>table>thead>tr>th.no>span{ width: 40px; }
.list_content>table>thead>tr>th.title{ width: 180px; }
.list_content>table>thead>tr>th.title>span{ width: 179px; }
.list_content>table>thead>tr>th.filename{ width: 180px; }
.list_content>table>thead>tr>th.filename>span{ width: 179px; }
.list_content>table>thead>tr>th.registrationdate{ width: 100px; }
.list_content>table>thead>tr>th.registrationdate>span{ width: 99px; }
.list_content>table>thead>tr>th>span{ }

.list_content>table>tbody{}
.list_content>table>tbody>tr{ height: 30px; }
.list_content>table>tbody>tr:hover{ }
.list_content>table>tbody>tr:nth-child(2n-1){ }
.list_content>table>tbody>tr:nth-child(2n){ }
.list_content>table>tbody>tr>td{ font-size: 68.75%; line-height: 30px; height: 30px; }

.list_content>table>tfoot{}
.list_content>table>tfoot>tr{}
.list_content>table>tfoot>tr>td{}

/** upload*/
.upload_content_wrap{ width: 500px; }
.upload_content_wrap>header{ width: 500px; }
.upload_content_wrap>header>ul{ width: 100%; }
.upload_content_wrap>header>ul>li{ width: 50%; }
.upload_content_wrap>header li.left>span{ height: 20px; margin-right: 8px; }
.upload_content_wrap>header li.left>h4{ font-size: 87.5%; height: 20px; line-height: 20px; }

.upload_content{ width: 480px; padding: 10px;}
.upload_content>.left{ width: 235px; }
.upload_content>.right{ width: 235px; }
.upload_content>.right ul{ width: 215px; margin: 10px 15px; }
.upload_content>.right ul>li{ width: 215px; margin-top: 10px; }
.upload_content>.right ul>li>label{ font-size: 75%; }
.upload_content>.right ul>li>input{ }
.upload_content>.right ul>li.small{ }
.upload_content>.right ul>li.small>label{ font-size: 75%; }
.upload_content>.right ul>li.small>input{ }
#volumefile{ }

.upload_submit_btn{ font-size: 75%; }
.upload_submit_btn:visited{ }
.upload_submit_btn:hover{ }

/** stream*/
.stream_content_wrap{ width: 850px; }
.stream_content_wrap>header{ width: 850px; margin-top: 20px;}
.stream_content_wrap>header>ul{ width: 100%; }
.stream_content_wrap>header>ul>li{ width: 50%; }
.stream_content_wrap>header li.left>span{ height: 20px; margin-right: 8px; }
.stream_content_wrap>header li.left>h4{ font-size: 87.5%; height: 20px; line-height: 20px; }

.stream_content{ padding-top: 20px; width: 850px; }
#view_port{ width: 512px; height: 512px; border: 2px solid #fff; }
#view_port>.loading{ width: 200px; height: 200px;padding: 156px; margin-top: -512px; }
#view_port>.loading>img{ width: 100px; height: 100px; margin : 0 50px; }
#view_port>.loading>span{ font-size: 75%; margin-top: 20px; }
#view_port>.fps{ padding: 10px; font-size: 67.5%; }

.option_wrap{ width: 280px; border: 2px solid #fff; margin-left: 20px; height: 492px; padding: 10px; }
.option_wrap>.option_default{ width: 100%; margin-bottom: 10px; }
.option_wrap>.option_default>h6{ width: 260px; margin: 4px 8px; font-size: 100%; }
.option_wrap>.option_default>h6>span.mark{}
.option_wrap>.option_default>h6>span.text{ font-size: 87.5%; }

.option_select_wrap{ width: 262px; height: 36px; border: 2px solid #fff; margin: 4px 8px; }
.option_select_wrap>li{ width: 86px; height: 36px; line-height: 36px; font-size: 75%; }
.option_select_wrap>li:hover{ }
.option_select_wrap_active{ }
.option_select_wrap_none{ }
.option_select_wrap>li:nth-child(1), .option_select_wrap>li:nth-child(2){ border-right: 2px solid #fff; }

.option_axis{ }

/** error*/
.error_page{ width: 900px; }
.error_page>img{ }

