<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://cdn.binaryjs.com/0/binary.js'></script>
    <script src='http://112.108.40.165:3000/socket.io/socket.io.js'></script>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
</head>
<body>

<header class="template_header">
    <h1>Volume Stream</h1>
</header>

<section class="template_section">
    <article>
        <a href="/" class="default_a">Main</a>
        <a href="/volume" class="default_a">Volume List</a>

        <div id="view_port" class="default_stream">
            <img src="" style="width: 512px; height: 512px;"/>
        </div>

        <div class="default_error">
        <% if( error != '') { %>
            <%=error%>
        <% }%>
        </div>

        <div class="default_success">

        </div>
    </article>
</section>

<footer class="template_footer">
    <span>Copyright(c) Wong.Lee Francis.kim  All rights reserved</span>
</footer>
    <script type="text/javascript">
        var socket = io.connect('http://112.108.40.165:3000'); // Socket.io
        var client = new BinaryClient('ws://' + document.location.host); // Byte streaming
        var accessInfo = {
            volumeIndex : '<%=accessInfo.volumeIndex%>',
            userPn : '<%=accessInfo.userPn%>'
        };
        // ~ init room setting
        console.log('accessInfo: ',accessInfo);

        var joinSocket = function(){
            console.log('Request join socket')
            socket.emit('join', { room : accessInfo.volumeIndex } );
        };

        var requestStream = function(){
            var buffer = new ArrayBuffer(4);
            var dataView = new DataView(buffer);
            dataView.setInt32(0, accessInfo.volumeIndex);
            client.send(buffer);
        };

        joinSocket();

        socket.on('message', function(data){
            if(!data.success){
                console.log(data.error);
                $('.default_error').append('<p>'+data.error+'</p>')
                setTimeout(joinSocket, 1000);
                return;
            }
            // ~ success request byte stre
            $('.default_error').html('');
            requestStream();
        });
        var second = 0;
        var count = 0;

        client.on('stream', function(stream, meta){
            // collect stream data
            var parts = [];
            stream.on('data', function(data){
                parts.push(data);
            });

            // when finished, set it as the background image
            stream.on('end', function(){
                var url = (window.URL || window.webkitURL).createObjectURL(new Blob(parts));
                $('#view_port>img').attr('src', url);
                count++;
            });
        });

        var printFrame = function(){
            second++;
            console.log('frame : ', count);
            $('.default_success').append('<p> sec: '+ second + ' c: ' +count+'</p>');
            count = 0;
        };

        setInterval(printFrame, 1000);

    </script>
</body>
</html>
