<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title>3D Volume Rendering Cloud System</title>

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.min.css' />

    <!--<script src='http://cdn.binaryjs.com/0/binary.js'></script>-->
    <script src='http://localhost:3000/socket.io/socket.io.js'></script>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/jquery-ui-1.11.2.custom/jquery-ui.min.js'></script>

</head>
<body>

<header class="layout_header_wrap">
    <div class="layout_header">
        <ul class="left">
            <li class="symbol">
                <span class="mark">Symbol</span>
                <a href="/">Home</a>
            </li>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="/volume">Volume Data List</a>
            </li>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="">Volume Rendering</a>
            </li>
        </ul>
        <ul class="right">
            <li class="help">
                <span class="mark">Question Mark</span>
                <a href="/">Help</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
            <% if ( user == undefined ) { %>
            <li>
                <a href="/signin/join">Join</a>
            </li>
            <li>
                <a href="/signin">Sign In</a>
            </li>
            <% } else { %>
            <li>
                <a href="/signin/logout">Log out</a>
            </li>
            <li class="user">
                <span class="mark">User Mark</span>
                <a href="/signin/join"><%=user.username%></a>
            </li>
            <% } %>
        </ul>
    </div>
</header>

<section class="layout_section_wrap">

    <div class="layout_section">

        <article class="stream_content_wrap">

            <header>
                <ul>
                    <li class="left">
                        <span>empty</span>
                        <h4>Volume Rendering - <%=volume.title%> </h4>
                    </li>
                </ul>
            </header>

            <div class="stream_content">

                <div id="view_port">
                    <img src=""/>
                    <div class="view_port_fake"></div>
                </div>

                <div class="option_wrap">

                    <div class="option_rendering option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Rendering Type</span>
                        </h6>
                        <ul class="option_select_wrap">
                            <li class="option_select_wrap_active" data-type="1">
                                Volume
                            </li>
                            <li class="option_select_wrap_none" data-type="2">
                                MRI
                            </li>
                            <li class="option_select_wrap_none" data-type="3">
                                MIP
                            </li>
                        </ul>
                    </div>

                    <div class="option_zoom option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Zoom</span>
                        </h6>
                        <span id="scale" class="slider_len"></span>
                    </div>

                    <div class="option_brightness option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Brightness</span>
                        </h6>
                        <span id="brightness" class="slider_len"></span>
                    </div>

                    <div class="option_otf option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">OTF</span>
                        </h6>
                        <span id="otf" class="slider_len"></span>
                    </div>

                    <div class="option_axis option_default">
                        <h6>
                            <span class="mark"></span>
                            <span class="text">Axis</span>
                        </h6>
                        <ul class="option_select_wrap">
                            <li class="option_select_wrap_active" data-type="1">
                                X
                            </li>
                            <li class="option_select_wrap_none" data-type="2">
                                Y
                            </li>
                            <li class="option_select_wrap_none" data-type="3">
                                Z
                            </li>
                        </ul>
                        <span id="axis" class="slider_len"></span>
                    </div>

                </div>

            </div>

        </article>

    </div>

</section>

<footer class="layout_footer_wrap">
    <div class="layout_footer">
        <span>Copyright(c) Teriusbin.lee. Francis.kim. All rights reserved.</span>
    </div>
</footer>


<script type="text/javascript">
    var accessInfo = {
        volumePn : '<%=accessInfo.volumePn%>',
        userPn : '<%=accessInfo.userPn%>'
    };

    // ~ Socket IO
    var socket = io.connect('http://localhost:3000', { reconnection : false }); // Socket.io
    var success = false;
    var joinSocket = function(){
        socket.emit('join');
    };

    joinSocket();

    socket.on('message', function(data){
        $('.debug_wrap').append('<p>connect byte stream</p>');
        if(!data.success){
            $('.debug_wrap').append('<p>'+data.error+'</p>');
            return;
        }
        // ~ success request byte stream
        $('.default_error').html('');
        success = true;
        requestStream();
    });

    socket.on('user_disconnected', function(data){
        joinSocket();
    });

    // ~ Byte stream

    var second = 0;
    var count = 0;
    var sum = 0;
    var debugInterval = undefined;

    var REQUEST_TYPE = { START : 1, ADAPTIVE : 2, CHANGE : 3 };
    var send_option = {
        request_type : REQUEST_TYPE.START,
        volumePn : accessInfo.volumePn,
        frame : 0,
        rendering_type : 0,
        brightness : 1.0,
        positionZ : 3.0,
        transferOffset : 0.0,
        rotationX : 0,
        rotationY : 0
    };

//    var client = new BinaryClient('ws://' + document.location.host); // Byte streaming

    var clientSend = function(){
//        client.send(makeBuffer());
    };

//    client.on('stream', function(stream, meta){
//        var parts = [];
//
//            stream.on('data', function(data){
//                parts.push(data);
//            });
//
//            stream.on('end', function(){
//                var url = (window.URL || window.webkitURL).createObjectURL(new Blob(parts));
//                $('#view_port>img').attr('src', url);
//            count++;
//            if(debugInterval == undefined){
//                debugInterval = setInterval(debug, 1000);
//            }
//        });
//    });

    var makeBuffer = function(){
        var buffer = new ArrayBuffer(36);
        var x = new Float32Array(buffer);
        x[0] = send_option.request_type;
        x[1] = send_option.volumePn;
        x[2] = send_option.frame;
        x[3] = send_option.rendering_type;
        x[4] = send_option.brightness;
        x[5] = send_option.positionZ;
        x[6] = send_option.transferOffset;
        x[7] = send_option.rotationX;
        x[8] = send_option.rotationY;
        return buffer;
    };

    var requestStream = function(){
        send_option.request_type = REQUEST_TYPE.START;
        clientSend();
    };

    var adaptiveByteStream = function(){
        send_option.request_type = REQUEST_TYPE.ADAPTIVE;
        send_option.frame = sum;
        clientSend();
    };

    var debug = function(){
        if(count == 0){
            clearInterval(debugInterval);
            debugInterval = undefined;
        }

        second+=1;
        sum+=count;
        $('.debug_wrap').append('<p> sec: '+ second + ' c: ' +count+'</p>');
        if(second%3 == 0 && success) {
            adaptiveByteStream();
            sum = 0;
        }
        count = 0;
    };

    $(function(){

        $('.option_rendering ul li').on('click', function(){
            var thiz = $(this);
            var type = thiz.attr('data-type');

            $('.option_rendering ul li').removeClass('option_select_wrap_active').addClass('option_select_wrap_none');
            thiz.removeClass('option_select_wrap_none').addClass('option_select_wrap_active');

            if(type == 1){
                $('.option_zoom').show();
                $('.option_brightness').show();
                $('.option_otf').show();
                $('.option_axis').hide();
            }else if(type == 2){
                $('.option_zoom').show();
                $('.option_brightness').hide();
                $('.option_otf').hide();
                $('.option_axis').hide();
            }else if(type == 3){
                $('.option_zoom').hide();
                $('.option_brightness').hide();
                $('.option_otf').hide();
                $('.option_axis').show();
            }

            send_option.request_type = REQUEST_TYPE.CHANGE;
            send_option.rendering_type = type;



            clientSend();
        });

        $('.option_axis ul li').on('click', function(){
            var thiz = $(this);
            var type = thiz.attr('data-type');

            $('.option_axis ul li').removeClass('option_select_wrap_active').addClass('option_select_wrap_none');
            thiz.removeClass('option_select_wrap_none').addClass('option_select_wrap_active');

            send_option.request_type = REQUEST_TYPE.CHANGE;
        });

        $('#scale').each(function() {
            $( this ).empty().slider({
                range: 'min',
                min: 0,
                value : 3000,
                max: 10000,
                animate: true,
                orientation: 'horizontal',
                slide: function( event, ui ) {
                    send_option.request_type = REQUEST_TYPE.CHANGE;
                    send_option.positionZ = ui.value/1000.0;
                    clientSend();
                }
            });
        });

        $('#brightness').each(function() {
            $( this ).empty().slider({
                range: 'min',
                min: 0,
                max: 200,
                animate: true,
                orientation: 'horizontal',
                slide: function( event, ui ) {
                    send_option.request_type = REQUEST_TYPE.CHANGE;
                    send_option.brightness = ui.value/100.0;
                    clientSend();
                }
            });
        });

        $('#otf').each(function() {
            $( this ).empty().slider({
                range: 'min',
                min: 5000,
                value: 10000,
                max: 15000,
                animate: true,
                orientation: 'horizontal',
                slide: function( event, ui ) {
                    send_option.request_type = REQUEST_TYPE.CHANGE;
                    send_option.transferOffset = (ui.value-10000)/10000.0;
                    clientSend();
                }
            });
        });

        $('#axis').each(function() {
            $( this ).empty().slider({
                range: 'min',
                min: 5000,
                value: 10000,
                max: 15000,
                animate: true,
                orientation: 'horizontal',
                slide: function( event, ui ) {
                    send_option.request_type = REQUEST_TYPE.CHANGE;
                    clientSend();
                }
            });
        });


        var mouseflag = false;
        var beforeX, beforeY;
        $('#view_port').on('mousedown', function(event){
            mouseflag = true;
            beforeX = event.pageX;
            beforeY = event.pageY;
        });

        $('#view_port').on('mousemove', function(event){
            if(mouseflag){
                $('.debug_wrap').append('<p>'+event.pageX + ", " + event.pageY+'</p>');
                send_option.request_type = REQUEST_TYPE.CHANGE;

                send_option.rotationX += (event.pageX - beforeX)/5.0;
                send_option.rotationY += (event.pageY - beforeY)/5.0;

                beforeX = event.pageX;
                beforeY = event.pageY;

                clientSend();
            }
        });

        $('#view_port').on('mouseup', function(event){
            mouseflag = false;
        })
    });

</script>
</body>
</html>
