<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.min.css' />
    <script src='http://cdn.binaryjs.com/0/binary.js'></script>
    <script src='http://112.108.40.19:3000/socket.io/socket.io.js'></script>
    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/jquery-ui-1.11.2.custom/jquery-ui.min.js'></script>
</head>
<body>

<header class="template_header">
    <h1>Volume Stream</h1>
</header>

<section class="template_section">
    <article>
        <a href="/" class="default_a">Main</a>
        <a href="/volume" class="default_a">Volume List</a>

        <div class="content_wrap">
            <div id="view_port" class="stream_wrap">
                <img src=""/>
                <div class="view_port_fake"></div>
            </div>

            <div class="left_option_wrap">
                <div class="option_type">
                    <h6>Select Type</h6>

                    <label for="option_type_vol" class="option_type_label">VOL</label>
                    <input type="radio" value="0" id="option_type_vol" name="option_type_value" class="option_type_value" checked="checked">

                    <label for="option_type_mri" class="option_type_label">MRI</label>
                    <input type="radio" value="1" id="option_type_mri" name="option_type_value" class="option_type_value">

                    <label for="option_type_mip"class="option_type_label">MIP</label>
                    <input type="radio" value="2" id="option_type_mip" name="option_type_value" class="option_type_value">
                </div>

                <div class="left_option_horizontal">
                    <h6>Scale</h6>
                    <span id="scale" class="slider_vertical_len"></span>
                </div>

                <div class="left_option_horizontal">
                    <h6>Brightness</h6>
                    <span id="brightness" class="slider_vertical_len"></span>
                </div>

            </div>

            <div class="down_option_wrap">
                <div class="down_option_vertical">
                    <h6>OTF</h6>
                    <span id="otf" class="slider_horizontal_len"></span>
                </div>
            </div>
        </div>

        <div class="debug_wrap">

        </div>

        <div class="default_error">
            <% if(error != '') { %>
                <%=error%>
            <% } %>
        </div>

        <div class="default_success">

        </div>

    </article>
</section>

<footer class="template_footer">
    <span>Copyright(c) Teriusbin.lee Francis.kim All rights reserved</span>
</footer>

<script type="text/javascript">
    var accessInfo = {
        volumePn : '<%=accessInfo.volumePn%>',
        userPn : '<%=accessInfo.userPn%>'
    };

    // ~ Socket IO
    var socket = io.connect('http://112.108.40.19:3000', { reconnection : false }); // Socket.io
    var success = false;
    var joinSocket = function(){
        socket.emit('join');
    };

    joinSocket();

    socket.on('message', function(data){
        $('.debug_wrap').append('<p>connect byte stream</p>');
        if(!data.success){
            $('.debug_wrap').append('<p>'+data.error+'</p>');
            return;
        }
        // ~ success request byte stream
        $('.default_error').html('');
        success = true;
        requestStream();
    });

    socket.on('user_disconnected', function(data){
        joinSocket();
    });

    // ~ Byte stream

    var second = 0;
    var count = 0;
    var sum = 0;
    var debugInterval = undefined;

    var REQUEST_TYPE = { START : 1, ADAPTIVE : 2, CHANGE : 3 };
    var send_option = {
        request_type : REQUEST_TYPE.START,
        volumePn : accessInfo.volumePn,
        frame : 0,
        rendering_type : 0,
        brightness : 1.0,
        positionZ : 3.0,
        transferOffset : 0.0,
        rotationX : 0,
        rotationY : 0
    };
    var client = new BinaryClient('ws://' + document.location.host); // Byte streaming

    var makeBuffer = function(){
        var buffer = new ArrayBuffer(36);
        var x = new Float32Array(buffer);
        x[0] = send_option.request_type;
        x[1] = send_option.volumePn;
        x[2] = send_option.frame;
        x[3] = send_option.rendering_type;
        x[4] = send_option.brightness;
        x[5] = send_option.positionZ;
        x[6] = send_option.transferOffset;
        x[7] = send_option.rotationX;
        x[8] = send_option.rotationY;
        return buffer;
    };

    var requestStream = function(){
        send_option.request_type = REQUEST_TYPE.START;
        client.send(makeBuffer());
    };

    var adaptiveByteStream = function(){
        send_option.request_type = REQUEST_TYPE.ADAPTIVE;
        send_option.frame = sum;
        client.send(makeBuffer());
    };

    client.on('stream', function(stream, meta){
        var parts = [];

        stream.on('data', function(data){
            parts.push(data);
        });

        stream.on('end', function(){
            var url = (window.URL || window.webkitURL).createObjectURL(new Blob(parts));
            $('#view_port>img').attr('src', url);
            count++;
            if(debugInterval == undefined){
                debugInterval = setInterval(debug, 1000);
            }
        });
    });

    var debug = function(){
        if(count == 0){
            clearInterval(debugInterval);
            debugInterval = undefined;
        }

        second+=1;
        sum+=count;
        $('.debug_wrap').append('<p> sec: '+ second + ' c: ' +count+'</p>');
        if(second%3 == 0 && success) {
            adaptiveByteStream();
            sum = 0;
        }
        count = 0;
    };

    $(function(){

        $('input.option_type_value:radio').change(function(){
            send_option.request_type = REQUEST_TYPE.CHANGE;
            send_option.rendering_type = $(this).val();
            client.send(makeBuffer());
        });

        $('#scale').each(function() {
            $( this ).empty().slider({
                range: 'min',
                min: 0,
                value : 3000,
                max: 10000,
                animate: true,
                orientation: 'vertical',
                slide: function( event, ui ) {
                    send_option.request_type = REQUEST_TYPE.CHANGE;
                    send_option.positionZ = ui.value/1000.0;
                    client.send(makeBuffer());
                }
            });
        });

        $('#brightness').each(function() {
            $( this ).empty().slider({
                range: 'min',
                min: 0,
                max: 200,
                animate: true,
                orientation: 'vertical',
                slide: function( event, ui ) {
                    send_option.request_type = REQUEST_TYPE.CHANGE;
                    send_option.brightness = ui.value/100.0;
                    client.send(makeBuffer());
                }
            });
        });

        $('#otf').each(function() {
            $( this ).empty().slider({
                range: 'min',
                min: 5000,
                value: 10000,
                max: 15000,
                animate: true,
                orientation: 'horizontal',
                slide: function( event, ui ) {
                    send_option.request_type = REQUEST_TYPE.CHANGE;
                    send_option.transferOffset = (ui.value-10000)/10000.0;
                    client.send(makeBuffer());
                }
            });
        });

        var mouseflag = false;
        var beforeX, beforeY;
        $('#view_port').on('mousedown', function(event){
            mouseflag = true;
            beforeX = event.pageX;
            beforeY = event.pageY;
        });

        $('#view_port').on('mousemove', function(event){
            if(mouseflag){
                $('.debug_wrap').append('<p>'+event.pageX + ", " + event.pageY+'</p>');
                send_option.request_type = REQUEST_TYPE.CHANGE;

                send_option.rotationX += (event.pageX - beforeX)/5.0;
                send_option.rotationY += (event.pageY - beforeY)/5.0;

                beforeX = event.pageX;
                beforeY = event.pageY;

                client.send(makeBuffer());
            }
        });

        $('#view_port').on('mouseup', function(event){
            mouseflag = false;
        })
    });

</script>
</body>
</html>
