<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <header>
        <h1>Volume Data Upload</h1>
    </header>
    <section>
        <form action="/volume/upload" method="post" enctype="multipart/form-data">
            <label>Title</label>
            <input id="title" name="title" type="text"/>
            <input id="volumefile" name="volumefile" type="file"/>
            <button type="submit">Submit</button>
        </form>
    </section>
    <footer>

    </footer>

</body>
</html>
