<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
minimum-scale=1.0, width=device-width" />
    <title>3D Volume Rendering Cloud System</title>

    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.min.css' />

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/layout_1280.css' media="screen and (min-width: 1280px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_986.css' media="screen and (min-width: 986px) and (max-width: 1280px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_720.css' media="screen and (min-width: 720px) and (max-width: 986px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_480.css' media="screen and (min-width: 480px) and (max-width: 720px)"/>
    <link rel='stylesheet' href='/stylesheets/layout_240.css' media="screen and (min-width: 240px) and (max-width: 480px)"/>

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/jquery-ui-1.11.2.custom/jquery-ui.min.js'></script>

</head>
<body>

<header class="layout_header_wrap">
    <div class="layout_header">
        <ul class="left">
            <li class="symbol">
                <span class="mark">Symbol</span>
                <a href="/">Home</a>
            </li>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="/volume">Volume Data List</a>
            </li>
            <li class="history">
                <span class="mark">Nav</span>
                <a href="/volume/upload">Volume Data Upload</a>
            </li>
        </ul>
        <ul class="right">
            <li class="help">
                <span class="mark">Question Mark</span>
                <a href="/">Help</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
            <% if ( user == undefined ) { %>
            <li>
                <a href="/signin/join">Join</a>
            </li>
            <li>
                <a href="/signin">Sign In</a>
            </li>
            <% } else { %>
            <li>
                <a href="/signin/logout">Log out</a>
            </li>
            <li class="user">
                <span class="mark">User Mark</span>
                <a href="/signin/join"><%=user.username%></a>
            </li>
            <% } %>
        </ul>
    </div>
</header>

<section class="layout_section_wrap">
    <div class="layout_section">

        <article class="upload_content_wrap">

            <header>
                <ul>
                    <li class="left">
                        <span>empty</span>
                        <h4>Volume Data Upload</h4>
                    </li>
                </ul>
            </header>

            <div class="upload_content">

                <div class="left">

                </div>

                <div class="right">
                    <form action="/volume/upload" method="post" enctype="multipart/form-data">
                        <ul>
                            <li>
                                <label>Title</label>
                                <input id="title" name="title" type="text"/>
                            </li>
                            <li class="small">
                                <label>Width</label>
                                <input id="width" name="width" type="text"/>
                            </li>
                            <li class="small">
                                <label>Height</label>
                                <input id="height" name="height" type="text"/>
                            </li>
                            <li class="small">
                                <label>Depth</label>
                                <input id="depth" name="depth" type="text"/>
                            </li>
                            <li>
                                <label>File</label>
                                <input id="volumefile" name="volumefile" type="file"/>
                            </li>
                            <li>
                                <button type="submit" class="upload_submit_btn">Upload</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>

        </article>

    </div>
</section>

<footer class="layout_footer_wrap">
    <div class="layout_footer">
        <span>Copyright(c) Teriusbin.lee. Francis.kim. All rights reserved.</span>
    </div>
</footer>

<script src='/javascripts/vrcs.common.js'></script>
<script src="/javascripts/vrcs.launch.js"></script>

</body>
</html>
