<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title><%= error.status %> :: 3D Volume Rendering Cloud System</title>

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/jquery-ui-1.11.2.custom/jquery-ui.min.css' />

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src='/jquery-ui-1.11.2.custom/jquery-ui.min.js'></script>

</head>
<body>


    <% if( error.status == 404 ) { %>
        <a href="/" class="error_page">
            <img src="/image/404.png">
        </a>
    <% } else if( error.status == 500 ) { %>
        <a href="/" class="error_page">
            <img src="/image/500.png">
        </a>
    <% } else { %>
        <a href="/" class="error_page">
            <img src="/image/error.png">
        </a>
    <% } %>

    <!--<%=error.stack%>-->

</body>
</html>
