<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="wrapper">
    <a href="/signin">Sign In</a>
    <a href="/signin/join">Join</a>
    <a href="/volume">Volume List</a>
</div>

</body>
</html>
