<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header class="template_header">
    <h1>Volume Rendering Cloud System</h1>
</header>

<section class="template_section">
    <article>
        <a href="/signin" class="default_a">Sign In</a>
        <a href="/signin/join" class="default_a">Join</a>
        <% if (user != undefined ){ %>
        <a href="/volume" class="default_a">Volume List</a>
        <% } %>
    </article>
</section>

<footer class="template_footer">
    <span>Copyright(c) Wong.Lee Francis.kim  All rights reserved</span>
</footer>

</body>
</html>
