<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header class="template_header">
    <h1>Join</h1>
</header>

<section class="template_section">
    <article>
        <a href="/" class="default_a">Main</a><br/>
        <form name="user" action="/signin/join" method="post">
            <% if (user == undefined){ %>
            <input type="hidden" name="_method" value="post">
            <% } else { %>
            <input type="hidden" name="_method" value="update">
            <% } %>
            <ul class="default_user">
                <li>
                    <label class="default_label">Username</label>
                    <% if (user == undefined){ %>
                    <input id="username" name="username" type="text" class="default_input"/>
                    <% } else {%>
                    <span class="default_span"><%=user.username%></span>
                    <% }%>
                </li>
                <% if (user != undefined) {%>
                <li>
                    <label class="default_label">OriginalPw</label>
                    <input id="originalpw" name="originalpw" type="password" class="default_input"/>
                </li>
                <% }%>
                <li>
                    <% if (user == undefined) { %>
                    <label class="default_label">Password</label>
                    <% } else { %>
                    <label class="default_label">ChangePw</label>
                    <% } %>
                    <input id="password" name="password" type="password" class="default_input"/>
                </li>
                <li>
                    <label class="default_label">ConfirmPw</label>
                    <input id="confirmpw" name="confirmpw" type="password" class="default_input"/>
                </li>
                <li>
                    <% if (user == undefined) {%>
                    <button type="submit" class="default_btn">Create An Account</button>
                    <% } else { %>
                    <button type="submit" class="default_btn">Modify Account</button>
                    <% } %>
                </li>
            </ul>
        </form>

        <div class="default_error">
        <% if(error != ''){%>
            <p><%=error%></p>
        <% }%>
        </div>
    </article>
</section>

<footer class="template_footer">
    <span>Copyright(c) Wong.Lee Francis.kim  All rights reserved</span>
</footer>

</body>
</html>
