<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header>
    <h1>
        Sign In
    </h1>
</header>
<section id="wrapper">

    <% if ( user == undefined ) { %>
    <form name="user" action="/signin" method="post">
        <ul>
            <li>
                <label>Username</label>
                <input id="username" name="username" type="text"/>
            </li>
            <li>
                <label>Password</label>
                <input id="password" name="password" type="password"/>
            </li>
            <li>
                <button type="submit">signin</button>
            </li>
        </ul>
        <a href="/signin/join">Create An Account</a>
    </form>
    <% }else{%>
        Welcome <%=user.username%>!
        <a href="/signin/logout">Log out</a>
    <% }%>

    <% if( error != '' ){ %>
        Error : <%=error%>
    <% }%>
</section>
<footer>

</footer>

</body>
</html>