<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Volume Rendering Cloud System</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header class="template_header">
    <h1>Sign In</h1>
</header>

<section class="template_section">
    <article>
        <a href="/" class="default_a">Main</a><br/>
        <% if ( user == undefined ) { %>
        <form name="user" action="/signin" method="post">
            <ul class="default_user">
                <li>
                    <label class="default_label">Username</label>
                    <input id="username" name="username" type="text" class="default_input"/>
                </li>
                <li>
                    <label class="default_label">Password</label>
                    <input id="password" name="password" type="password" class="default_input"/>
                </li>
                <li>
                    <button type="submit" class="default_btn">Sign In</button>
                </li>
                <li>
                    <a href="/signin/join" class="default_a">Create An Account</a>
                </li>
            </ul>
        </form>

        <% }else{%>
            <span class="default_span">Welcome <%=user.username%>!</span>
            <a href="/signin/logout" class="default_a">Log out</a>
        <% }%>

        <div class="default_error">
        <% if( message.error != '' ){ %>
            <p><%=message.error%></p>
        <% }%>
        </div>

        <div class="default_success">
            <% if( message.success != '' ){ %>
            <p><%=message.success%></p>
            <% }%>
        </div>
    </article>
</section>

<footer class="template_footer">
    <span>Copyright(c) Wong.Lee Francis.kim  All rights reserved</span>
</footer>

</body>
</html>